# Node (if any JS anywhere)
node_modules/

# Environment files
.env

# Logs
*.log

# Build folders
dist/
build/

# Python (if used)
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/